MONGODB_URI = mongodb+srv://pieter:6u9TWvvPhso5JzAr@cluster0.xjfpbmt.mongodb.net/?retryWrites=true&w=majority
PORT = 3000

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cmljaC1oZXJvbi05Mi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_oAorqEI00Hu3j64RjCwHP6lcmuNVbb7drz3G4RMgDY